/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Jost', sans-serif;
}
a {
  text-decoration: none;
}
body {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}
body header {
  font-size: 2rem;
}
body header .nav-container nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowarp;
}
body header .nav-container nav a {
  color: lightslategray;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}
body header .nav-container nav a:hover {
  background-color: lightslategray;
  color: white;
  border-radius: 0.5em;
}
body .banner-container {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: column;
  padding: 2em;
}
body .banner-container h1 {
  font-size: 4rem;
}
body .banner-container h2 {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
body .banner-container p {
  font-size: 1.5rem;
}
body .banner-container div {
  padding: 1em 0;
}
body .banner-container div a {
  background-color: lightslategray;
  color: white;
  font-size: 0.8em;
  margin-top: 2em;
  border-radius: 0.5em;
  padding: 0.5em;
}
body .middle-container {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}
body .middle-container .about-content,
body .middle-container .skills-content {
  flex: 1;
  padding: 0.5em;
}
body .middle-container h2 {
  padding: 0.5em 0;
  margin-top: 0.5em;
}
body .middle-container p {
  font-size: 1.5rem;
}
body .middle-container ul {
  display: flex;
  flex-flow: row wrap;
}
body .middle-container li {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 1em;
  padding-left: 1em;
  flex: 1;
}
@media (max-width: 500px) {
  body .middle-container {
    flex-direction: column;
  }
}
body .gallery {
  display: flex;
  flex: 1;
}
body .gallery div {
  min-width: 300px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
body .gallery div a img {
  display: inline-block;
  width: 100%;
}
body .gallery div a img:hover {
  transform: scale(1.5);
}
body .contact-form {
  font-size: 2rem;
  width: 35%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1.8em;
  border: 2px solid lightslategray;
  border-radius: 1em;
}
body .bottom-container {
  font-size: 2rem;
}
body .bottom-container h2 {
  padding: 0.5em 0;
  margin-top: 0.5em;
}
body .bottom-container table {
  width: 100%;
  font-size: 0.8em;
}
body .bottom-container table .table-heading {
  font-weight: bold;
}
body .bottom-container table .exp1,
body .bottom-container table .exp3 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
body .bottom-container table tr {
  border-top: 0.5px solid black;
}
body .bottom-container table th {
  padding: 0.5em;
}
body footer {
  font-size: 1.5rem;
  margin-top: 1em;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
body footer p {
  text-align: center;
  padding: 2em;
  color: lightslategray;
}
.background-theme {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
